
@{
    ViewBag.Title = "我的標題Index";
}

<h2>我的標題</h2>

這是razor view<br />

<label>產品</label><br />

<img class="img-rounded" width="600"
     src="https://cc.tvbs.com.tw/img/upload/2019/03/06/20190306215653-9ad0f58e.jpg" />